.local-announcement {
    width: 98%;
    min-height: 85%;
    background-color: #fff;
    border-radius: 20px;
    padding: 2rem;
    margin-left: 6%;
}

.local-announcement .content h1 {
    color: #7F43F5;
    font-size: 1.9rem;
    font-weight: bold;
    margin: 1rem 0;
}

.local-announcement p {
    color: #808080;
    font-size: 1rem;
    margin-left: 1.5rem;
    margin: 0rem 1.5rem 1.5rem 0;
}

.local-announcement .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.local-announcement .content h2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #7F43F5;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    max-width: 80%;
}

.local-announcement .content a {
    text-decoration: none;
}

.local-announcement .content img {
    max-width: 30%;
    height: auto;
    border-radius: 20px;
    /* object-fit: cover; */
}

@media(max-width: 800px) {
    .local-announcement {
        width: 100%;
        height: 85vh;
    }
}

@media(max-width: 500px) {
    .local-announcement .content img {
        max-width: 100%;
    }
    .local-announcement .content h2 {
        margin-top: 1rem;
        max-width: 100%;
    }
}