.new-announcement {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 7%;
    margin-right: 4%;
    width: 93%;
    height: 100%;
    background: white;
}

.new-announcement h1 {
    font-weight: bold;
    color: #7F43F5;
    margin-left: 2rem;
    margin-top: 1rem;
}

.create-announcement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-left: 2rem;
}

.utils {
    margin-left: 2rem;
}

.new-announcement .utils input[type=text], .typefile {
    align-items: center;
    width: 50%;
    height: 2.5rem;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 16px;
    background-color: #efefef;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 5px 20px 12px 40px;
}

.new-announcement .utils input[type=file] {
    width: 20%;
}

.new-announcement .utils textarea {
    align-items: center;
    width: 50%;
    min-height: 20rem;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 16px;
    background-color: #efefef;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 5px 20px 12px 40px;
}

.new-announcement .utils h4 {
    margin: 1rem 0;
}

.new-announcement button {
    width: 15%;
    border-radius: 10px!important;
    border: 0px;
    padding: 1rem!important;
    background: #7F43F5!important;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.2s;
    margin: 0.7rem 0;
    margin-left: 2rem;
}

.new-announcement button:hover {
    cursor: pointer;
    opacity: .5;
}

.specific-groups {
    width: 22%;
}

.specific-groups .MuiFormControl-root {
    width: 40%;
}

.MuiFormControlLabel-root {
    margin-top: 16px;
}

@media(max-width: 700px) {
    .new-announcement {
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 1rem;
        width: 100%;
    }
    .create-announcement {
        width: 90%;
    }
    .new-announcement .utils input[type=file] {
        width: 30%;
    }
    .new-announcement button {
        margin: 0;
        width: 80%;
    }
    .new-announcement .utils textarea {
        width: 90%;
    }
    .new-announcement .utils input[type=file] {
        width: 90%;
    }
    .new-announcement .utils input[type=text], .typefile {
        width: 90%;
    }
    .specific-groups {
        margin-left: 1rem;
        margin-top: 0;
    }
    .new-announcement h1 {
        margin: 0;
    }
    .specific-groups{
        width: 100%;
    }
}