.company {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 2%;
    border-radius: 8px;
}

.company h1 {
    color: #7F43F5;
    font-size: 1.9rem;
    font-weight: bold;
}

.company p {
    color: #808080;
    font-size: 1rem;
    margin-left: 1.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.company .content h2 {
    color: #7F43F5;
    font-size: 1rem;
    font-weight: bold;
}

.company .content a {
    text-decoration: none;
}

.company .content img {
    max-width: 95%;
    height: auto;
    border-radius: 20px;
    /* object-fit: cover; */
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}