.announcements {
    display: grid;
    grid-template-columns: 30% auto;
    margin-left: 6%;
}

.announcements-sidebar {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.announcements-sidebar button {
    text-align: right;
    font-weight: bold;
    font-size: 2rem;
    background-color: transparent;
    border: 0;
}

.announcements-sidebar button + button {
    margin-top: 1rem;
}

@media(max-width: 800px) {
    .announcements {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 6%;

    }
    .announcements-sidebar {
        margin-right: 0;
    }

    .announcements-content {
        width: 100%;
        margin-right: 2%;
        margin-top: 2rem;
    }

    .announcements-sidebar button {
        text-align: center;
    }
}

@media(max-width: 700px) {
    .announcements {
        margin: 0 2rem;
    }
}