.announcements {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    justify-content: center;
    align-items: center;
}

.announcements-sidebar {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.announcements-sidebar button {
    font-weight: bold;
    font-size: 2rem;
    background-color: transparent;
    border: 0;
}

.announcements-sidebar button + button {
    margin-top: 1rem;
}

.announcements-content {
    width: 100%;
}

.announcements-content h1 {
    color: #7F43F5;
}

.announcements-content a {
    text-decoration: none;
}

@media(max-width: 800px) {
    .announcements {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 6%;

    }
    .announcements-sidebar {
        margin-right: 0;
    }

    .announcements-content {
        width: 100%;
        margin-right: 2%;
        margin-top: 2rem;
    }

    .announcements-sidebar button {
        text-align: center;
    }
}

@media(max-width: 700px) {
    .announcements {
        margin: 0 2rem;
    }

    .announcements-sidebar {
    margin-bottom: 0;
    }

    .announcements-sidebar button {
    margin: 0 1rem;
    }

}