.calendar-app {
  width: 90%;
  margin-left: 6%;
}

.fc-button {
  background-color: blueviolet!important;
  border: 1px solid blueviolet!important;
  color: #efefef;
}

.fc-button-active {
  background-color: #b375ec!important;
}

.calendar-content {
  display: grid;
  grid-template-columns: 15% auto;
}

.list-itens {
  color: #efefef;
  padding: .5rem;
  border-radius: 10px;
  margin: 1rem;
}

.more-info-button {
  color: #efefef;
  padding: .5rem;
  border: 0;
  border-radius: 10px;
  margin: 1rem;
  background-color: blueviolet;
}