.company-announcements {
    width: 85%;
    height: 85vh;
    background-color: #fff;
    border-radius: 20px;
    padding: 2rem;

}

@media(max-width: 800px) {
    .company-announcements {
        width: 100%;
        height: 85vh;
    }
}